.main {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 90vw;
  border: 2px solid rgb(204, 204, 204);
  border-collapse: collapse;
}

.row {
  border-bottom: 2px solid rgb(204, 204, 204);
  text-align: center;
}

.row * {
  padding: 10px 0;
}

.row th {
  padding: 15px 0;
  font-size: large;
  color: rgba(23, 143, 157, 1);
}

@media screen and (max-width: 600px) {
  .main {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    font-size: 10px;
  }
}
